.idea
.vscode
*.swp
*.swo
*.bak
*~
*.log
# ignore local pem
pem*
# ignore env files
env.sh
# ignore local test scripts
test.sh
*temp
# ignore make envionmental files
env.sh
# flask cache removal
cloud-tools/regkey-api/__pycache__
# local makefiles for local config variables
cloud-tools/regkey-api/makefile.local
cloud-tools/regkey-api/config/nginx-local.conf
cloud-tools/regkey-api/config/*.env
*temp_s3
.pytest_cache
# ignore credentials file(s)
*.credentials.json
*_creds.json
# ignore compiled python
cloud-tools/template-generator/azure/__pycache__
venv/
cloud-tools/dewdrop/html_coverage/
*.pyc
cloud-tools/template-generator/venv/
*.DS.Store*
*.DS_Store*
*__pycache__*
# node modules
node_modules/